#tyontekijalista{
    float:right
}

#employee-add-form{
    margin-top: 3em;
}

.halfwrap{
    width: 50%;
}

.tsoha-listing{
    padding: 0 40px;
}

#etunimi-header{
    width: 140px;
}

#sukunimi-header{
    width: 200px;
}

.employee-view .panel{
    background-color: aliceblue;
}

.employee-view .panel-heading{
    background-image: -webkit-linear-gradient(top, #edf7ff 0%, #b8d7ff 100%);
    background-image: linear-gradient(to bottom, #edf7ff 0%, #b8d7ff 100%);
}