#tyontekijalista{
    float:right
}

#employee-add-form{
    margin-top: 3em;
}

.halfwrap{
    width: 50%;
}

.tsoha-listing{
    padding: 0 40px;
}

#etunimi-header{
    width: 140px;
}

#sukunimi-header{
    width: 200px;
}

.employee-view .panel{
    background-color: aliceblue;
}